<div class = "container">
  <div class = "row ">
    <div class = "col-md-6 m-auto ">
<div class="card   ">
    <img [src]="productList2.image" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">{{productList2.title}}</h5>
      <p class="card-text">
        {{productList2.category}}
      </p>
      <p class="card-text">
        {{productList2.price}}
      </p>
   
   
      <button class="btn btn-primary"  >Add to cart</button>
    </div>
  </div>
</div>
  </div>
</div>
